.guest-container {
  display: flex;
  gap: 10px;
  color: white;
  border: 1px solid white;
  width: 400px;
  padding: 1rem;
  border-radius: 10px;
  height: 160px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  .guest-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    border: 1px solid white;
    padding: 1rem;
    overflow: hidden;
  }
  .guest-img {
    height: 100%;
    aspect-ratio: 1/1;
    border: 1px solid white;
  }
}
