* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: black;
}
.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  gap: 1rem;
}
.app-countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.hero1 {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin-top: 3rem;
  .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 30px;
      border: 3px solid black;
    }
  }
}
.genesis {
  width: 350px;
  filter: drop-shadow(0 0 3px rgb(121, 112, 112));
}
.genesis-container {
  padding: 1rem;
}
